*{
    text-decoration : none;
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0;
    background-color: #FF7043;
}
.cabecalho-lista {
    background-color: #FF7043;
    display: flex;
    gap: 32px;
    color:#4CAF50;
    
    
}
.contato{
    display: flex;
}
.newletter button:hover{
    display: flex;
    background-color: #4CAF50;
    color: white;
}
.contatos{

}
button {
    cursor: pointer;
    background-color: #FF7043; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #FF5722; 
}